RAISE

# conda create --name mule python=3.4.2 anaconda?
# OR 
# conda create --name mule python=3.4.2
# pip install Keras==2.0.8
# pip install numpy==1.13.3
# pip install tensorflow==1.1.0

Upgrade pip
python -m pip install --upgrade pip setuptools wheel

#pandas==0.20.3
#scipy==0.14.0

